<div class="container">
  <h1>Web Scraper: Vox.com</h1>
  <div class="row">
  <a class="btn btn-default" id="scrape" href="/scrape">Scrape Vox</a>
  </div>
  {{#each articles}}
  <div class="row">
      {{> articles/article-block}}
  </div>
  {{/each}}
</div>